<div class="flex h-screen bg-gray-100">
  @if(isLoading()){
  <div class="w-full flex items-center justify-center">
    <p>Cargando datos ...</p>
  </div>
  }@else {
  <!-- Sidebar -->
  <app-sidebar
    [isCollapsed]="isSidebarCollapsed()"
    class="bg-slate-800 text-white transition-all duration-300"
    [ngClass]="{ 'w-64': !isSidebarCollapsed(), 'w-16': isSidebarCollapsed() }"
  >
  </app-sidebar>

  <!-- Main Content -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <!-- Header -->
    <app-header
      (toggleSidebarEvent)="toggleSidebar()"
      class="bg-white shadow-sm"
      [committeeName]="committeeState.committee()?.name"
    >
    </app-header>

    <!-- Content Area -->
    <main class="flex-1 overflow-y-auto p-6">
      <router-outlet></router-outlet>
    </main>
  </div>
  }
</div>
