<form (submit)="onSubmit($event)" class="space-y-4 p-4">
  <div>
    <app-input
      type="text"
      label="ID Comité"
      [control]="committeeIdControl"
    ></app-input>
  </div>

  <div>
    <app-input
      type="text"
      label="Nombre Comité"
      [control]="nameControl"
    ></app-input>
  </div>

  <div class="flex justify-end pt-2">
    <app-button
      [label]="isLoading() ? 'Guardando...' : 'Guardar'"
      [disabled]="isLoading() || form().invalid()"
      type="submit"
    ></app-button>
  </div>
</form>


