@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'Montserrat', sans-serif;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}