<h2 class="text-lg font-semibold mb-4">Administración de comités</h2>

<div class="flex flex-col sm:flex-row sm:justify-between sm:items-center items-start mb-4 gap-2 sm:gap-0">
  <h3 class="text-base font-semibold">Comités creados</h3>
  <div class="flex flex-row gap-2 self-end">
    <app-button (action)="openAssignModal()" [label]="'Asignar'" [outline]="true" />
    <app-button (action)="openCreateUpdateModal()" [label]="'Crear'" />
  </div>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200 border rounded-lg">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-4 py-2 text-center text-sm font-medium text-gray-600 w-[50px]">ID</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Nombre</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      @for(committee of adminCommitteeState.committees(); track committee.id){
      <tr class="hover:bg-gray-50 transition-colors cursor-pointer" (click)="onSelectedCommittee(committee)">
        <td class="px-4 py-2 text-sm text-gray-800">{{ committee.committeeId }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ committee.name }}</td>
      </tr>
      }@empty{
      <tr>
        <td colspan="2" class="px-4 py-2 text-sm text-gray-800">No hay comités registrados</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<hr class="my-7 text-gray-500" />

<h3 class="text-base font-semibold mb-4">Comités asignados</h3>

<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200 border rounded-lg">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-4 py-2 text-center text-sm font-medium text-gray-600 w-[50px]">ID</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Nombre</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Usuario</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      @for(committee of committeeState.adminCommittees(); track committee.id){
      <tr class="hover:bg-gray-50 transition-colors">
        <td class="px-4 py-2 text-sm text-gray-800">{{ committee.committeeId }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ committee.name }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ committee.user?.email }}</td>
      </tr>
      }@empty {
      <tr>
        <td colspan="2" class="px-4 py-2 text-sm text-gray-800">No hay comités asignados</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal
  [isOpen]="isCreateUpdateModalOpen()"
  [title]="selectedComittee() ? 'Editar comité' : 'Agregar comité'"
  size="lg"
  (closed)="closeCreateUpdateModal()"
>
  <app-committee-form
    [committee]="selectedComittee()"
    (saveComitteeEvent)="onCommitteeSaved($event)"
    [isLoading]="isLoading()"
  />
</app-modal>

<app-modal
  [isOpen]="isAssignModalOpen()"
  [title]="'Asignar comité a usuario'"
  size="lg"
  (closed)="closeAssignModal()"
>
  <app-assign-committee-form
    (saveAssignCommitteeEvent)="onAssignSaved($event)"
    [isLoading]="isLoading()"
  />
</app-modal>

